<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/img/icon.png">
<head>
<title>Home-About</title>
</head>

<body>
    <div class="main-container">
        {{>header}}
    <img src="/img/image.jpg" alt="my-picture">
    </div>
    {{>footer}}
</body>

</html>